div#list {
    position: absolute;
    top: 30px;
    left: 0px;
    height: 20px;
    width: 100%;
    display: table;
    table-layout: fixed;
    border-spacing: 40px 0px;
    font-size: 26px;
}

div#list > li {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
}