body {
    margin:0;
}
header {
    background-color:#ffaaaa;
}
.container {
    width:1080px;
    margin:0 auto;
}
.header-container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    /* flex-start, flex-end, space-around, center  */
    align-items:center;
    /* flex-start, flex-end, center, stretch */
    font-size:1.4rem;
}
.header-logo {
    flex:0;
}
.header-menu {
    list-style: none;
}
.header-menu > li {
    display:inline-block;
    margin-left:48px;
}
.header-menu a {
    color:#494846;
}
a {
    text-decoration: none;
}