input,
select,
textarea {
    width:100%;
    padding:6px 12px;
    box-sizing: border-box;
    outline:none;
}
input:focus,
select:focus,
textarea:focus {
    border:1px solid #e54a4f;
}
button {
    width:300px;
    height:60px;
    background-color:#e54a4f;
    color:#fff;
    font-size:17px;
    border:none;
    outline:none;
}